@model EFDataAccessLibrary.Models.Survey

@{
    ViewData["Title"] = "Edit";
}

<div>
    <h4>@Model?.Title</h4>
    <h6>@Model?.Description</h6>
</div>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if(Model == null)
            {
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="surveyTitle" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="surveyDescription" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="CreatedOn" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="ExpiresOn" class="control-label"></label>
                <input asp-for="ExpiresOn" class="form-control" />
                <span asp-validation-for="ExpiresOn" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CreatedBy" value="@User.Identity.Name" />
            }
            else
            {
            <input id="surveyTitle" type="hidden" asp-for="Title" />
            <input id="surveyDescription" type="hidden" asp-for="Description" />
            <fieldset hidden>
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiresOn" class="control-label"></label>
                    <input id="surveyExpiresOn" asp-for="ExpiresOn" class="form-control" />
                    <span asp-validation-for="ExpiresOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            </fieldset>
            }


            <div class="card bg-light mb-3">
                <h5 class="card-header">Add Question and Choices</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label">Question</label>
                        <input id="questionInput" class="form-control" />

                    </div>

                    <div class="form-group" id="ChoiceGroup">
                        <label class="control-label">Choices</label>
                    </div>

                    <div class="form-group">
                        <ul class="list-group" id="choiceInput" >
                            <li class="list-group-item">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </div>
                                    </div>
                                    <input id="choice1" type="text" class="form-control" aria-label="Text input with radio button">
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    <div class="form-group row">
                        <div class="col">
                            <a onclick="AddChoice()" id="AddChoice" class="btn btn-primary">Add Choice</a>
                        </div>
                        <div class="col">
                            <a href="#" onclick="AddQuesCard()" id="AddChoice" class="btn btn-dark float-right">Add to List</a>
                        </div>
                    </div>

                </div>
                </div>





            <div id="QuesCards">
                @if(Model != null)
            {
                @for (int i = 0; i < Model.Questions.Count(); i++)
                {
                <div class="card mt-3 mb-3" id="@("q"+ Model.Questions[i].Id +"s" + Model.Id)" ;>
                    <div class="card-header">
                        <input type="hidden" asp-for="Questions[i].Id" />
                        <input style="font-weight: bold;" asp-for="Questions[i].QuestionText" type="text" class="form-control">
                    </div>
                    <ul class="list-group list-group-flush">
                        @for (int j = 0; j < Model.Questions[i].Choices.Count(); j++)
        {
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" aria-label="Radio button for following text input" disabled>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Questions[i].Choices[j].Id" />
                                <input asp-for="Questions[i].Choices[j].ChoiceText" type="text" class="form-control">

                            </div>
                        </li>
        }
                    </ul>
                    <a onclick="deleteQuestion('@("q"+ Model.Questions[i].Id +"s" + Model.Id)','@Model.Questions[i].Id')" class="btn btn-danger">Delete</a>
                </div>
}
            }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    var choiceIndex = 2;
    var modelCopy = '@Model';
    function deleteQuestion(elementid, Qid) {

        $.post("/Home/DeleteQuestion", {id:Qid}, function (res) {
            console.log(res);
            console.log("Delete Successfull");
            window.location.reload(true);
        });
        }

    function AddQuesCard() {

        

        var id = '@Model?.Id';
        var title = $('#surveyTitle').val();
        var description = $('#surveyDescription').val();
        var expiresOn = $('#surveyExpiresOn').val();

        var model = {
            Id:id,
            Title: title,
            Description: description,
            ExpiresOn: expiresOn,
            Questions: []
        };

        var inputQuestion = $('#questionInput').val();
        model.Questions.push({ QuestionText: inputQuestion, Choices: [] });

        var choiceCount = $("#choiceInput").find("li").length;
        for (var i = 1; i <= choiceCount; i++) {
            model.Questions[0].Choices.push({ ChoiceText: $('#choice'+i).val() });
        }

        $.post("/Home/Create/", model, function (res) {
            console.log(res);
            window.location = '/Home/Edit?id='+res.id;
        });
            //$.ajax({
            //    contentType: 'application/json; charset=utf-8',
            //    type: 'POST',
            //    url: '/Home/Create/',
            //    data: dataObject,
            //    success: function (response) {

            //    },
            //    failure: function (response) {

            //    }
            //});

    }

    function AddChoice() {
        
        $('#choiceInput').append('<li class="list-group-item"> \
            <div class= "input-group" > \
                <div class="input-group-prepend"> \
                    <div class="input-group-text"> \
                        <input type="radio" aria-label="Radio button for following text input"> \
                    </div> \
                </div> \
                <input id="choice'+choiceIndex+'" type="text" class="form-control" aria-label="Text input with radio button"> \
            </div> \
        </li>');
        choiceIndex = choiceIndex + 1;
        var choiceCount = $("#choiceInput").find("li").length;
        //alert('Choice count :' + choiceCount);

        
    }
    //$(document).ajaxStop(function () {
    //    window.location.reload();
    //});

        $(document).ready(function () {
            @*alert('@Model.Questions.Count()');*@
        });
</script>
}
