@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Edit", "Home", new { id = item.Id })" class="list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Title</h5>
                <small>Expires on @item.ExpiresOn</small>
            </div>
            <p class="mb-1">@item.Description</p>
            <small>Created on @item.CreatedOn</small>
        </a>
    }
</div>


   
