@model SurveyWebApp.Models.ResponseViewModel

@{
    ViewData["Title"] = "Response";
}

<div class="input-group">
    <select onchange="LoadSurvey(this.options[this.selectedIndex].value)" class="custom-select" id="surveySelector" aria-label="Survey list">
        <option selected>Please select a Survey...</option>
        @foreach (var survey in ViewBag.SurveysDropDown)
        {
        <option value="@survey.Id">@survey.Title</option>
        }
    </select>
</div>

@if(Model != null)
{

<h1>@Model?.Survey?.Title</h1>

<h4>@Model?.Survey?.Description</h4>

<div class="row">

    <div class="col">

        <form asp-action="UserResponse">
            <div id="QuesCards">
                @if (Model != null)
                {
                @for (int i = 0; i < Model.Survey.Questions.Count(); i++)
                    {
                <input type="hidden" asp-for="Responses[i].Question.Id" value="@Model.Survey.Questions[i].Id" />
                <input type="hidden" asp-for="Responses[i].Survey.Id" value="@Model.Survey.Id" />
                <input type="hidden" asp-for="Responses[i].EmployeeId" />

                <div class="card mt-3 mb-3" id="@("q"+ Model.Survey.Questions[i].Id +"s" + Model.Survey.Id)" ;>
                    <h6 asp-for="Survey.Questions[i].QuestionText" class="card-header"> @Model.Survey.Questions[i].QuestionText</h6>
                    @*<input style="font-weight: bold;" asp-for="Survey.Questions[i].QuestionText" type="text" class="form-control">*@

                    <ul class="list-group list-group-flush">
                        @for (int j = 0; j < Model.Survey.Questions[i].Choices.Count(); j++)
                                {
                        <li class="list-group-item">

                            <div class="custom-control custom-radio">
                                <input type="radio" id="@("choice"+j+"ques"+i)" asp-for="Responses[i].Choice.Id" class="custom-control-input" value="@Model.Survey.Questions[i].Choices[j].Id" />
                                <label class="custom-control-label" for="@("choice"+j+"ques"+i)">@Model.Survey.Questions[i].Choices[j].ChoiceText</label>
                            </div>
                        </li>
                                }
                    </ul>
                </div>
                    }
                }
            </div>
            <div class="form-group mt-3 mb-3 float-lg-right">
                <input onclick="Save()" type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

}



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            @* alert('@Model.Questions.Count()');*@
            var test = $("#QuesCards > div").length;
            console.log("Question count", test);

        });

        function Save() {
            var q1 = $("input[name='q0']:checked").val();
            var q2 = $("input[name='q1']:checked").val();
            console.log("Q1", q1);
            console.log("Q2", q2);
        }

        function LoadSurvey(id) {
            window.location = '/Home/UserResponse?surveyId=' + id;
        }
    </script>
}
